body{
    background-color: rgb(167, 167, 167);
}

header{
    background-color:blue;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    font-size: 3.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    height:170px;
    padding:50px;
    line-height: 0px;
}
.flexContainer{
    margin:9px;
    text-align:left;
    line-height:30px;
    font-size:30px;
    display:flex;
    flex-direction:row;
}
div > h2{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    text-align: left;
}
.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding:0px;

}
footer{
    margin-top: -9px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: 2.65em;
    height:107px;
    line-height: 33px;
}
.box1{
    flex:1000px;
    order:2;
    border:200px;
    padding:35px;
    float: right;
    margin-right: px;
    line-height: 40px;
    white-space: nowrap ;
    vertical-align: text-top;
    height:200px;
    margin-top: -40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
.box2{
    flex:500px;
    background-color: yellow;
    flex-direction: column;
    padding:5px;
    height: 530px;
    margin-top:-9px;
    margin-left:-8px;
}